<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<footer class="text-center text-lg-start  text-white" style="background-color:black;">
    <section class="container d-flex justify-content-center justify-content-lg-between p4" >
        <div class="me-5 d-none d-lg-block" >
            <span class="my-4 mx-5">Get connected with us on social networks:</span>
        </div>
        <div class="" >
            <a href="https://facebook.com" class="me-4 text-reset"><i class="fa fa-facebook py-4 mx-2 "></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter py-4 mx-2"></i></a>
            <a href="https://google.com" class="me-4 text-reset"><i class="fa fa-google py-4 mx-2"></i></a>
            <a href="https://instagram.com" class="me-4 text-reset"><i class="fa fa-instagram py-4 mx-2"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin py-4 mx-2"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github py-4 mx-2"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase bold mb-4"><i class="fa fa-shopping-cart"></i>shopkart</h6>
                    <p>shopkart.com is a one stope destination for your family's fashion needs.</p>
                </div>
                {% comment %} <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fa-bold mb-4">Products</h6>
                    <p><a href="" class="text-reset">Menu</a></p>
                    <p><a href="" class="text-reset">Menu</a></p>
                    <p><a href="" class="text-reset">Menu</a></p>
                    <p><a href="" class="text-reset">Menu</a></p>
                    <p><a href="" class="text-reset">Menu</a></p>
                </div> {% endcomment %}
                {% comment %} <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">useful limks</h6>
                    <p><a href="" class="text-reset">Menu</a></p>
                    <p><a href="" class="text-reset">Menu</a></p>
                    <p><a href="" class="text-reset">Menu</a></p>
                </div> {% endcomment %}
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contacts</h6>
                    <p><i class="fa fa-home"></i>home</p>
                    <p><i class="fa fa-envelope"></i>info@gmail.com</p>
                    <p><i class="fa fa-phone"></i>+917094291701</p>
                </div>
            </div>
        </div>
    </section>
</footer>