{% extends 'base.html' %}
{% block title %}
store
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
    </div>
    <div id="item">
       
        <div id="item-1">
            <div class="img">
             <img src="" alt="">
             </div>
             <hr><h1></h1>
             <div class="products">
                 <button class="update_cart">add to cart</button>
                 <h3></h3>
             </div>  
         </div>
        
       
          
    </div>
</div>


{% comment %} <script src="{% static 'javascript\base.js' %}"></script> {% endcomment %}


{% endblock content %}